* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
#section {
    width: 100%;
    /* height: 100%; */
    /* background: #555555; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5vh 0;
}

#left {
    width: 40%;
    height: 100%;
    /* background: rgb(255, 153, 153); */
}
#right {
    width: 40%;
    height: 100%;
    /* background: rgb(153, 252, 255); */
}
.elem {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem;
    position: relative;
}

.elem img  {
    width: 100%;
    height: 100%;
}

/* .elem img:hover { */
    /* opacity: 0.7; */
/* } */
.overlay {
    background: #a6a6a66e;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}

.elem:hover .overlay {
    opacity: 0.7;
    z-index: 3;
}

#services {
    height: 100vh;
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5vh 0;
}

#services_left{
    width: 40%;
    height: 100%;
    background: pink;
}
#services_right {
    width: 40%;
    height: 100%;
    background: cyan;
}

.service_box {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    background: #b9bcff;
}

.service_box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.service_box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.service_box p {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: #606060;
    line-height: 1.5rem;
}
.service_box p span {
    color: #000;
    font-weight: 700;
}

#photo_section {
    width: 80%;
    height: 100vh;
    background: url("https://preview.colorlib.com/theme/space/images/about_pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
}

#pink {
    height: 100px;
    width: 250px;
    background: #E62E61;
}